@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");

html {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: "League Spartan", sans-serif;
  font-weight: 400;
  color: #12232e;
  background-color: white;
  font-size: 18px !important;
}
// .row {
//   --bs-gutter-x: 3rem;
//   &.g-0 {
//     --bs-gutter-x: 0rem !important;
//   }
// }

ul {
  margin: 0;
  list-style: none;
}
a {
  display: inline-block;
  text-decoration: none;
}

.img-fluid {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.section {
  &.section--padding {
    padding: 60px 0;
  }
  &.section--light {
    background-color: $light-white-color;
  }
}
