h1,
h2,
h2,
h4 {
  line-height: 1.3;
}

h5,
h6,
p {
  line-height: 1.6;
}

.text {
  font-size: 18px;
  font-weight: $regular;
  color: $black-color;
}

// text sizes
.text--lg {
  font-size: $lg-font !important;
}

// text colors
.text--white {
  color: white !important;
}
.text--pink {
  color: #ff6b6b !important;
}

//text font weights
.text--bold {
  font-weight: $bold !important;
}
.text--semi-bold {
  font-weight: $semi-bold !important;
}
.text--light {
  font-weight: 300 !important;
}
