$mobile: 500px;
.left-column {
  .brand-logo {
    display: none;
    img {
      width: 200px;
    }
  }
}
@media (max-width: $mobile) {
  // varibles
  $xl-font: 2rem !important;
  .mob-mb-0 {
    margin-bottom: 0 !important;
  }
  .mob-pb-0 {
    padding-bottom: 0 !important;
  }
  // components
  .mob-listing-2 {
    li {
      &:nth-child(n + 3) {
        display: none;
      }
    }
  }
  .article-list.article-list--bordered {
    margin-bottom: 24px;
  }

  //custom select
  .select-wrapper {
    margin-bottom: 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    button {
      display: flex;
    }
    .select__title {
      font-size: $lg-font;
      font-weight: $bold;
    }
    .mw-256px {
      display: none;
      max-width: 256px;
    }
  }
  .article-card---must-read {
    .slick-arrow {
      top: 200px;
      &.slick-next {
        right: calc(50% - 47.5px);
        background-color: $black-color;
      }
      &.slick-prev {
        left: calc(50% - 47.5px);
      }
    }
  }
  .grid-fashion-layout {
    display: block;
    .article-card {
      height: 256px;
      width: 100%;
      border-right: 1px solid white;
    }
  }
  .checklist {
    .checklist__title {
      color: $black-color;
      font-size: 20px;
    }
  }

  //   layouts responsive
  // headers
  header {
    .top-header {
      justify-content: flex-start;
      align-items: center;
      border-bottom: 1px solid $black-25-color;

      .center-column,
      .right-column {
        width: auto;
      }
      .left-column {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .brand-logo {
          display: block;
        }
        .search-button {
          margin-left: 0;
          width: 50px;
        }
        .menu-button {
          width: 48px;
        }
      }
      .right-column,
      .center-column {
        display: none;
      }
    }
    .bottom-header-wrapper {
      display: none;
    }
  }

  footer .bottom-footer-wrapper .bottom-footer {
    flex-direction: column;
    justify-content: center;
    .copyright-text {
      font-size: 18px;
      text-align: center;
    }
    .footer-quicks-nav {
      display: none;
    }
  }

  // sliders

  .four-items--slider {
    .col-md-3 {
      padding: 0 12px;
    }
    .slick-arrow {
      top: 100%;
      &.slick-next {
        height: 48px;
        width: 48px;
        right: calc(50% - 56px);
      }
      &.slick-prev {
        left: calc(50% - 56px);
        height: 48px;
        width: 48px;
      }
    }
  }

  //   popup modal
  .modal {
    .modal-dialog {
      width: 100%;
    }
    &.modal--search {
      .modal-content {
        .modal-body {
          padding: 24px;
          .search-wrapper {
            margin-bottom: 60px;
            position: relative;
            .form-control-lg {
              padding-right: 64px;
            }
            .button-search-icon {
              &.search-icon--overlay {
                right: 16px;
              }
            }
          }
        }
      }
    }
  }

  //job apply modal
  .modal--jobApply-form {
    height: 100vh;
    width: 100%;
    // .modal-dialog {
    //   min-height: 100vh;
    //   margin: 0 !important;
    //   transform: 0;
    // }
    .modal-body {
      padding: 48px 24px 24px 24px;
      .section-title__heading {
        font-size: 32px !important;
      }
    }
  }

  //   menu offcanvas
  .offcanvas {
    &.offcanvas--menu {
      .menu__header {
        .brand-logo {
          img {
            width: 240px;
          }
        }
      }
    }
  }

  .section--main-1 {
    .section-title {
      width: 100%;
      text-align: center !important;
      .section-title__heading {
      }
      &.section-title--overlay {
        &::after {
          font-size: 40px;
        }
      }
    }
  }
  .section-title {
    &.section-title--responsive {
      text-align: center;
    }
    .section-title__heading {
      margin-bottom: 0px;
      font-size: 32px;
    }
    .section-title__description {
      font-size: 20px;
      display: none;
    }
  }
  .col-md-3 {
    .article-card {
      margin-bottom: 0;
    }
  }

  .section {
    &.section--padding {
      padding: 40px 0;
    }
  }
  //   .article-card {
  //     margin-bottom: 40px;
  //   }
  .article-card {
    &.article-card--biography {
      margin-bottom: 16px;
      &::after {
        bottom: -16px;
        left: -8px;
      }
    }
    .article__tag {
      // font-size: $md-font;
      // font-weight: $semi-bold;
      margin-bottom: 8px;
      &.article__tag--pill {
        padding: 2px 16px;
        border-radius: 20px;
        &.article__tab--green {
          background-color: $green-color;
          color: white;
        }
      }
      &.article__tab--light-green {
        background-color: #e7fffe;
        color: $green-color;
      }
      &.article__tag--green {
        color: $green-color !important;
      }
    }
    .article__title {
      // font-size: 22px;
      // font-weight: 600;
      // color: $black-color;
      line-height: 1.4;
      // cursor: pointer;

      &:hover {
        color: $green-color;
      }
      &.article__title--white {
        color: $white-color !important;
      }
    }
    .article__image {
      margin-bottom: 16px;
      display: block;
      position: relative;
      flex-shrink: 0;
      &.article__image--large {
        height: 256px;
      }
      img {
        transition: $transition;
      }
    }
    .article__writer {
      font-size: $md-font;
      color: $light-black-color;
      .writer__name {
        color: $black-color;
      }
      &.aricle__writer--white {
        font-weight: 300;

        .writer__name {
          color: white;
        }
      }
    }
    .article__content--large {
      .article__tag {
        margin-bottom: 20px;
      }
      .article__title {
        font-size: $lg-font;
        margin-bottom: 20px;
      }
    }
    .article__count {
      height: 40px;
      width: 40px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      background-color: $black-color;
      font-size: $md-font;
      font-weight: $semi-bold;
      color: $white-color;
      border: 4px solid white;
      &.article__count--overlay {
        position: absolute;
        top: -10px;
        right: -10px;
      }
    }
    &.article-card---must-read {
      .article__content {
        background-color: $light-white-color;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }
      .article__image {
        height: 256px;
      }
    }
    &.article-card--birthday {
      .article__image {
        height: 256px;
        width: 100%;
        overflow: hidden;
        border-radius: $lg-border-radius;
      }
      .article__tag--pill {
        position: absolute;
        top: 12px;
        left: 12px;
        &.active {
          background-image: linear-gradient(
            62deg,
            #fbab7e 0%,
            #f7ce68 100%
          ) !important;
        }
      }
    }
    &.article-card--center {
      .article--image {
        height: 256px;
      }
      text-align: center;
      .article__tag--pill {
        position: absolute;
        bottom: -24px;
        left: 50%;
        transform: translateX(-50%);
      }
      .article__content {
        padding-top: 16px;
      }
    }
    &.article-card--horizontal {
      margin-bottom: 20px;
      display: flex;
      a {
        display: block;
      }
      .article__image {
        &.article__image--circle {
          height: 100px;
          width: 100px;
          border-radius: 50%;
          overflow: hidden;
          &.article__image--medium {
            height: 80px;
            width: 80px;
          }
        }
      }
      .article__content {
        margin-left: 20px;
      }

      &.article-card--reversed {
        text-align: right;
        .article__content {
          margin: 0 20px 0 0 !important;
        }
      }
    }
    &.article-card--overlay {
      .article__image {
        height: 256px;
      }
      .article__content {
        position: absolute;
        width: 100%;
        height: auto;
        left: 0;
        bottom: 0;
        padding: 12px;
        z-index: 2;
      }
      &.article-card--xl {
        .article__image {
          height: 600px;
        }
      }
    }
    &.article-card--editor-pick {
      margin-bottom: 40px;
      .article__image {
        height: 180px;
        margin-bottom: 0;
      }
      .article__content {
        padding: 12px;
        background-color: white;
      }
    }
  }

  // pages responsive

  // job
  .job-list {
    li {
      &:last-child {
        .job__item {
          margin-bottom: 0;
        }
      }
    }
    .job__item {
      margin-bottom: 16px;
      .job__title {
        font-weight: 600;
      }
      .job__salary {
        display: none;
      }
    }
  }
  .job-detail {
    .job-detail__header {
      margin-bottom: 32px;
      .job__title {
        font-size: 32px;
      }
      .job__date {
        font-size: 18px;
      }
    }

    .job-detail__body {
      .job__content {
        margin-bottom: 32px;
      }
    }
    .stripe-list {
      .stripe__item {
        padding: 16px;
        .job__label {
          width: 50%;
        }
        .label__devider {
          margin-right: 24px;
        }
      }
    }
  }
  .mob-border-top {
    border-top: 1px solid $black-25-color;
    padding-top: 24px;
  }

  //contact us
  .contact-form {
    padding: 24px;
    background-color: white;
  }

  //breadcrumb
  .section--breadcrumb {
    background-color: $light-white-color;
    padding: 24px 0;
    .breadcrumb-nav {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      .breadcrumb-nav__item {
        margin-right: 32px;
        font-size: $md-font;
        color: $black-color;
        font-weight: $regular;
        &:last-child {
          margin-right: 0;
          max-width: 100px;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          display: inline-block;
        }
        position: relative;
        &::after {
          position: absolute;
          content: "\f054";
          font-size: 14px;
          color: $black-color;
          font-family: "Font Awesome 5 Free";
          font-weight: 900;
          right: -16px;
          top: 50%;
          transform: translateY(-50%);
        }
        &:last-child {
          &::after {
            display: none;
          }
        }
        .breadcrumb-nav__link {
          color: $green-color;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }

  //editor text

  .table-of-content {
    padding: 24px;
  }
  #privacy__table-of-content {
    display: none;
  }
  .editor-content {
    h1,
    h2,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin-bottom: 16px;
      font-weight: $bold;
    }
    p {
      font-weight: $regular;
      margin-bottom: 40px;
    }
    a {
      color: $green-color;
      text-decoration: underline;
      &:hover {
        font-weight: $semi-bold;
      }
    }
    h1,
    h2 {
      font-size: 32px;
    }
    h3 {
      font-size: $lg-font;
    }
    h4,
    h5 {
      font-size: 20px;
    }
    h6,
    p {
      font-size: $md-font;
    }
    small {
      font-size: $sm-font;
    }
  }
  .section--detail {
    .large__title {
      font-size: 2rem;
    }
    .article__additional-info {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 24px;
    }
    .article__writer-info {
      display: flex;
      align-items: center;
      .writer__image {
        flex-shrink: 0;
        height: 60px;
        width: 60px;
      }
      .article__writer {
        margin-left: 16px;
        font-size: 18px;
        .writer__name {
          color: $black-color;
        }
        .read-time {
          color: $green-color;
        }
      }
    }
    .share-options {
      display: none;
    }
    .social-media-list-wrapper {
      position: absolute;
      left: 8px;
      top: -280px;
      .socila-media--circle {
        display: block;
        .social-media__item {
          margin-bottom: 20px;
          margin-left: 0;
          margin-right: 0;
          margin-top: 0;
        }
      }
    }
    .editor-content-wrapper {
      padding: 0;
      .quick-content-wrapper {
        flex-shrink: 0;
        width: 100%;
        border: 1px solid $black-25-color;
        margin-right: 0;
        margin-bottom: 24px;
        .button {
          height: 40px;
          font-size: 18px;
        }
      }
      .quick-content__tabs {
        padding: 8px;
        .button {
          border: 1px solid transparent;
          $color: $black-color;
          margin: 0 8px;
          &.active {
            background-color: $green-color;
            color: white;
          }
        }
      }
      .quick-content__info {
        padding: 16px;
      }
      .quick-content__title {
        font-size: $lg-font;
        color: $black-color;
        font-weight: $bold;
        margin-bottom: 24px;
      }
      .quick-fact-list {
        padding-left: 0;
        li {
          align-items: start;
        }
        .fact__label {
          width: 50%;
        }
        .fact__text {
          padding: 4px 12px;
        }
      }
      .quote-wrapper {
        .quote__text {
          font-weight: 600;
        }
      }
      .know-more {
        margin-bottom: 32px;
        ul {
          padding-left: 0;
        }
      }

      .article-card {
        a {
          display: inline-block;
          text-decoration: none !important;
        }
      }
      ul {
        list-style: square;
        padding-left: 24px;
        li {
          font-size: $md-font;
          margin-bottom: 16px;
          a {
            display: inline;
          }
        }
      }
    }
    .related-category {
      display: flex;
      align-items: center;
      border-top: 1px solid $black-25-color;
      padding: 16px 0;
      position: relative;
    }
    .nearest-articles {
      margin-bottom: 32px;
      &::after {
        display: none;
      }
    }
    .article-card {
      margin-bottom: 0;
    }
    .article-correction-content {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      .button {
        margin-top: 16px;
      }
    }
  }
}
