header {
  background-color: white;
  .top-header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 0;
    .left-column {
      width: 25%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      .menu-button {
        font-size: $xl-font;
        color: $black-color;
        vertical-align: middle;
        background-color: transparent;
        border: 0;
        display: flex;
        align-items: center;
      }
      .search-button {
        height: 48px;
        width: 48px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: $md-font;
        color: $black-color;
        background-color: $light-white-color;
        margin-left: 24px;
        border: 0;
      }
    }
    .center-column {
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      .brand-logo {
        img {
          width: 200px;
          height: auto;
        }
      }
    }
    .right-column {
      width: 25%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      .header-social-media-list {
        display: flex;
        align-items: center;
        justify-content: start;
        .social-media__item {
          display: inline-block;
          margin-left: 32px;
          color: $black-color;
          font-size: $md-font;
        }
      }
    }
  }
  .bottom-header-wrapper {
    border-top: 1px solid $black-25-color;
    border-bottom: 1px solid $black-25-color;
    .bottom-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .nav-list {
        display: flex;
        align-items: center;
        justify-content: start;
        .nav__item {
          position: relative;
          &:hover {
            > .dropdown-list {
              display: block;
            }
          }
          .nav__link {
            padding: 20px 0;
            font-size: 20px;
            font-weight: $semi-bold;
            color: $black-color;
            margin-right: 30px;
          }
          .dropdown-list {
            position: absolute;
            width: 200px;
            background-color: white;
            box-shadow: $box-shadow;
            z-index: 3;
            padding: 16px;
            display: none;
            left: 0;
            top: calc(100% - 5px);
            .dropdown-nav__link {
              font-size: $md-font;
              font-weight: $semi-bold;
              display: inline-block;
              color: $black-color;
              padding: 5px 0;
              transition: $transition;
              position: relative;
              &::after {
                content: "";
                position: absolute;
                height: 2px;
                width: 12px;
                background-color: $green-color;
                left: -16px;
                top: 50%;
                transform: translateY(-50%);
                display: none;
              }
              &:hover {
                transform: translateX(20px);
                color: $green-color;
                &::after {
                  display: block;
                }
              }
            }
          }
        }
      }
    }
  }
}



//social medias
.social-media-list {
  &.socila-media--circle {
    display: flex;
    align-items: center;
    justify-content: center;
    .social-media__item {
      height: 40px;
      width: 40px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 8px;
      &.facebook {
        background-color: $facebook-color;
      }
      &.twitter {
        background-color: $twitter-color;
      }
      &.instagram {
        background-color: $instagram-color;
      }
      &.tiktok {
        background-color: $tiktok-color;
      }
      i {
        font-size: $md-font;
        color: white;
      }
    }
  }
  &.socila-media--square {
    li {
      display: flex;
      align-items: center;
      margin-bottom: 24px;
      &:last-child {
        margin-bottom: 0 !important;
      }
    }
    .social-media__item {
      height: 56px;
      width: 56px;
      display: flex;
      align-items: center;
      justify-content: center;
      i {
        font-size: $lg-font !important;
      }
      &.facebook {
        background-color: $facebook-color;
      }
      &.twitter {
        background-color: $twitter-color;
      }
      &.instagram {
        background-color: $instagram-color;
      }
      &.tiktok {
        background-color: $tiktok-color;
      }
      i {
        font-size: $md-font;
        color: white;
      }
    }
    .social-media__content {
      text-align: left;
      margin-left: 24px;
      .social-media__count {
        font-size: $lg-font;
        font-weight: $bold;
        color: $black-color;
        margin-bottom: 4px;
      }
      .social-media__text {
        font-size: $md-font;
        color: $green-color;
        font-weight: $regular;
      }
    }
  }
}


