header {
  background-color: white;
  .top-header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 0;
    .left-column {
      width: 25%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      .menu-button {
        font-size: $xl-font;
        color: $black-color;
        vertical-align: middle;
        background-color: transparent;
        border: 0;
      }
      .search-button {
        height: 48px;
        width: 48px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: $md-font;
        color: $black-color;
        background-color: $light-white-color;
        margin-left: 24px;
        border: 0;
      }
    }
    .center-column {
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      .brand-logo {
        img {
          width: 200px;
          height: auto;
        }
      }
    }
    .right-column {
      width: 25%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      .header-social-media-list {
        display: flex;
        align-items: center;
        justify-content: start;
        .social-media__item {
          display: inline-block;
          margin-left: 32px;
          color: $black-color;
          font-size: $md-font;
        }
      }
    }
  }
  .bottom-header-wrapper {
    border-top: 1px solid $black-25-color;
    border-bottom: 1px solid $black-25-color;
    .bottom-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .nav-list {
        display: flex;
        align-items: center;
        justify-content: start;
        .nav__item {
          position: relative;
          &:hover {
            > .dropdown-list {
              display: block;
            }
          }
          .nav__link {
            padding: 20px 0;
            font-size: 20px;
            font-weight: $semi-bold;
            color: $black-color;
            margin-right: 30px;
          }
          .dropdown-list {
            position: absolute;
            width: 200px;
            background-color: white;
            box-shadow: $box-shadow;
            z-index: 3;
            padding: 16px;
            display: none;
            left: 0;
            top: 99%;
            .dropdown-nav__link {
              font-size: $md-font;
              font-weight: $semi-bold;
              display: inline-block;
              color: $black-color;
              padding: 5px 0;
              transition: $transition;
              position: relative;
              &::after {
                content: "";
                position: absolute;
                height: 2px;
                width: 12px;
                background-color: $green-color;
                left: -16px;
                top: 50%;
                transform: translateY(-50%);
                display: none;
              }
              &:hover {
                transform: translateX(20px);
                color: $green-color;
                &::after {
                  display: block;
                }
              }
            }
          }
        }
      }
    }
  }
}

.button-close {
  height: 48px;
  width: 48px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  box-shadow: $box-shadow;
  border: 0;
  font-size: 20px;
  color: red;
  position: absolute;
  top: 0px;
  right: 0px;
}
// menu offcanvas
.offcanvas {
  .offcanvas-body {
    padding: 32px;
  }
  &.offcanvas--menu {
    .menu__header {
      position: relative;
      margin-bottom: 40px;
      .brand-logo {
        // display: block;
        // text-align: center;
        img {
          width: 240px;
        }
      }
    }
    .menu__body {
      .nav-list {
        margin-bottom: 40px;
        .nav__item {
          border-bottom: 1px solid $black-25-color;
          .nav__link {
            font-size: 20px;
            font-weight: $semi-bold;
            color: $black-color;
            padding: 10px 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
            i {
              font-size: $md-font;
              color: $black-color;
            }
          }
          .dropdown-list {
            display: none;
            .dropdown-nav__link {
              font-size: $md-font;
              font-weight: $regular;
              display: inline-block;
              color: $black-color;
              padding: 5px 0;
              transition: $transition;
              position: relative;
              &::after {
                content: "";
                position: absolute;
                height: 2px;
                width: 12px;
                background-color: $green-color;
                left: -16px;
                top: 50%;
                transform: translateY(-50%);
                display: none;
              }
              &:hover {
                transform: translateX(20px);
                color: $green-color;
                &::after {
                  display: block;
                }
              }
            }
          }
        }
      }
      .famous-articles {
        margin-bottom: 40px;
      }
      .social-media-list {
        display: flex;
        align-items: center;
        justify-content: center;
        .social-media__item {
          height: 40px;
          width: 40px;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          margin: 0 8px;
          &.facebook {
            background-color: $facebook-color;
          }
          &.twitter {
            background-color: $twitter-color;
          }
          &.instagram {
            background-color: $instagram-color;
          }
          &.tiktok {
            background-color: $tiktok-color;
          }
          i {
            font-size: $md-font;
            color: white;
          }
        }
      }
    }
  }
}

.modal {
  &.modal--search {
    .modal-content {
      padding: 32px;
      .modal-body {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        .search-wrapper {
          margin-bottom: 80px;
          position: relative;
          .form-control-lg {
            padding-right: 64px;
          }
          .button-search-icon {
            background-color: transparent;
            border: 0;
            font-size: $lg-font;
            color: $green-color;
            &.search-icon--overlay {
              position: absolute;
              right: 32px;
              top: 50%;
              transform: translateY(-50%);
            }
          }
        }
      }
    }
  }
}
