// input fields
.input-field {
  margin-bottom: 24px;
}

.form-control {
  min-height: 48px;
  background-color: $light-white-color;
  border-radius: 0;
  box-shadow: none !important;
  border: 1px solid $light-white-color;
  font-size: $md-font;
  font-weight: $regular;
  color: $black-color;
  padding: 0 24px;
  &.form-control-lg {
    min-height: 64px;
    font-size: $lg-font;
    padding: 0 32px;
  }
  &:focus {
    background-color: $light-white-color;
    border: 1px solid $black-25-color;
  }
}

.form-control::file-selector-button {
  padding: 16px 24px;
}

.form-check-input {
  position: relative;
  height: 24px;
  width: 24px;
  flex-shrink: 0;
  margin-top: 0;
  box-shadow: none !important;
  background-color: $light-white-color;
  border-radius: 0 !important;
  border: 1px solid $light-white-color;
  &:checked {
    border: 1px solid $green-color;
    background-color: $green-color;
  }
}

//labels
.label {
  font-size: $md-font;
  font-weight: 600;
  margin-bottom: 8px;
  color: $black-color;
  display: block;
  .is-required {
    color: red;
  }
  &.label--light {
    font-weight: $regular;
  }
}

//checklist

.checklist {
  margin-bottom: 48px;
  .checklist__title {
    font-size: $md-font;
    font-weight: 600;
    color: $light-black-color;
    margin-bottom: 24px;
  }
  .input-check-field {
    display: flex;
    align-items: center;
    margin-bottom: 16px;

    .label {
      margin-bottom: 0 !important;
      margin-left: 16px;
    }
  }
}

//custom select
.select-wrapper {
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  button {
    display: none;
  }
  .select__title {
    font-size: $lg-font;
    font-weight: $semi-bold;
    color: $black-color;
  }
  .mw-256px {
    max-width: 256px;
  }
}
