.section-title {
  margin-bottom: 40px;
  &.section-title--overlay {
    position: relative;
    z-index: 1;
    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      font-size: 116px;
      font-weight: $extra-bold;
      z-index: -1;
      opacity: 0.05;
    }
    &.section-title--birthday {
      &::after {
        content: "Birthday Special";
      }
    }
  }
  &.section-title--center {
    text-align: center;
  }
  .section-title__heading {
    font-size: $xl-font;
    color: $black-color;
    margin-bottom: 16px;
    font-weight: $bold;
  }
  .section-title__subheading {
    font-size: $lg-font;
    color: $black-color;
    margin-bottom: 16px;
    font-weight: $semi-bold;
  }
  .section-title__description {
    font-size: $md-font;
    margin-bottom: 0;
  }
}

//editor text

.editor-content {
  h1,
  h2,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 16px;
    font-weight: $bold;
  }
  p {
    font-weight: $regular;
    margin-bottom: 40px;
  }
  a {
    color: $green-color;
    text-decoration: underline;
    &:hover {
      font-weight: $semi-bold;
    }
  }
  h1,
  h2 {
    font-size: $xl-font;
  }
  h3 {
    font-size: $lg-font;
  }
  h4,
  h5 {
    font-size: 20px;
  }
  h6,
  p {
    font-size: $md-font;
  }

  small {
    font-size: $sm-font;
  }
  img {
    width: auto;
    max-width: 100%;
    margin-bottom: 40px;
  }
}
